{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "globals": {
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "test": true,
    "document": true,
    "window": true,
    "graphql": true
  },
  "rules": {
    "prettier/prettier": "error",
    "curly": ["error", "multi-line"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "if", "next": "*" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "memo",
          "element",
          "key",
          "req",
          "acc",
          "result"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "id-length": [
      "error",
      {
        "exceptions": ["_", "x", "y"]
      }
    ],
    "no-use-before-define": ["error", "nofunc"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ]
  }
}
